/*GENERAL*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.jumbo-padding{
    padding-top: 10rem;
}
.bg-set{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*BUTTONS*/
.hover-btn{
    width: max-content;
    padding: .2rem;
    border: 2px solid transparent;
}
.btn-orange{
    background-color: #cd3d0f;
    border: none;
    color: white;
}
.btn-orange:hover{
    border: 2px solid #0165fc;
}
.btn-blue-reverse{
    background-color: #d9dadc;
    color: #2d64e6;
}
.btn-blue-reverse:hover{
    color: black;
}
.hover-blue-reverse-btn{
    border: 2px solid #d9dadc;
}
.hover-white-btn:hover{
    border: 2px solid white;
}
/*HEADER*/
div.black-banner{
    background-color: black;
}
div.black-banner img{
    width: 6rem;
}
/*NAV*/
a.nav-link{
    color: black;
}
/*-MAIN-*/
main{
    padding-top: 7rem;
}
/*JUMBO*/
section#jumbo{
    background-image: url(../img/jumbo-bg.png);
    color: white;
}
p.jumbo-p{
    font-size: 1.1rem;
}
/*GAME PREVIEW*/
.content-card{
    height: 50px;
    background-color: cadetblue;
}
/*IT TAKES TWO*/
section#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
}
/*NEW RELEASES*/
section#new-releases{
    background-color: #1f1f1f;
    color: white;
}
/*BANNER PS PLUS*/
section#banner-ps-plus{
    background-color: #bebcbb;
}
/*BANNER PLAYSTATION NOW*/
section#banner-playstation-now{
    background-color: #161c3b;
    color: white;
}
/*FOOTER*/
footer{
    background-color: #00439c;
    color: white;
}
.playstation-footer-logo,
.sie-logo{
    width: 8rem;
}
.language-globe-logo{
    height: 2rem;
}
