/*GENERAL*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.bg-set{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*HEADER*/
div.black-banner{
    background-color: black;
}
div.black-banner img{
    width: 6rem;
}
/*NAV*/
a.nav-link{
    color: black;
}
/*-MAIN-*/
/*JUMBO*/
section#jumbo{
    background-image: url(../img/jumbo-bg.png);
    color: white;
}
.jumbo-padding{
    padding-top: 10rem;
}
/*GAME PREVIEW*/
.content-card{
    height: 50px;
    background-color: cadetblue;
}
/*IT TAKES TWO*/
section#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
}
/*NEW RELEASES*/
section#new-releases{
    background-color: #1f1f1f;
    color: white;
}
/*BANNER PS PLUS*/
section#banner-ps-plus{
    background-color: #bebcbb;
}
/*BANNER PLAYSTATION NOW*/
section#banner-playstation-now{
    background-color: #161c3b;
    color: white;
}
/*FOOTER*/
footer{
    background-color: #00439c;
    color: white;
}
.playstation-footer-logo{
    width: 8rem;
}
.language-globe-logo{
    height: 2rem;
}
.sie-logo{
    width: 8rem;
}